<% include header %>

    <div class="ui segment">
        <form class="ui form">
            <div class="field">
              <label>Nom</label>
              <input type="text" name="nom" placeholder="Nom">
            </div>
            <div class="field">
              <label>E-mail</label>
              <input type="text" name="mail" placeholder="E-mail">
            </div>
            <div class="ui form">
                <div class="field">
                  <label>Message</label>
                  <textarea name="message" id="message"></textarea>
            </div>
            <button class="ui labeled icon button" type="submit">
                <i class="envelope alternate icon"></i>
                Envoyer</button>
          </form>
    </div>

<% include footer %>