<% include header %>
    <div class="ui segment">
        <form class="ui form" method= "post" action="/">
            
            <div class="ui form">
                <div class="field">
                  <label>Message</label>
                  <textarea name="message" id="message"></textarea>
            </div>
            <button class="ui labeled icon button" type="submit">
                <i class="comment alternate icon"></i>
                Envoyer
            </button>
        </form>
    </div>

<% include footer %>